<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <!-- =====  BOX ICONS  ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!-- =====  FOUNDATION  ===== -->
    <link rel="stylesheet" href="foundation.min.css"  />

    <!-- =====  CSS  ===== -->
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <!-- ===== APP START ===== -->
    <div id="app">

        <!-- ===== GRID CONTAINER START ===== -->
        <div class="grid-container">

            <!-- ===== TITLE ===== -->
            <h1>{{message}}</h1>

            <div class="grid-x grid-padding-x">

                <!-- ===== MAIN INPUT'S ===== -->
                <div class="medium-12 cell">
                    <input id="input" type="text" name="title" id="title" placeholder="کار خود را وارد نمایید" v-model="taskTitle" @keyup.enter="addTask">
                    <textarea name="desc" id="desc" cols="30" rows="3" placeholder="توضیحات را وارد کنید" v-model="taskDesc"></textarea>
                </div>

                <!-- ===== ADD,MORE INFO BUTTON'S ===== -->
                <div class="medium-12 cell">
                    <button class="submit primary button" @click="addTask()" v-if="taskTitle.length > 0 && !isChanging">+</button>
                    <button :class="['submit button toggleInfo',{primary:showDesc},{warning:!showDesc}]" @click="showDesc = !showDesc" v-if="taskTitle.length > 0 && !isChanging">مصالعه بیشتر</button>
                    <button class="submit alert button"  @click.stop="change()" v-if="isChanging">تغییر</button>
                </div>

            </div>

            <div class="grid-x grid-padding-x">

                <ul class="list-group ">
                    <li :class="['list-group-item',{done:job.completed}]" v-for="(job,i) in doList" :key="i" @click="job.completed = !job.completed">

                        <!-- ===== MAIN INPUT ===== -->
                        <input id="c1" type="checkbox">

                        <!-- ===== TITLE TEXT ===== -->
                        {{job.title}}

                        <!-- ===== TRASH,EDIT BUTTON'S ===== -->
                        <i class='bx bx-trash' @click.stop="showModal = !showModal,removeItemIndex = i" ></i>
                        <i class='bx bxs-edit'@click.stop="variation(job ,i)"></i>

                        <br>

                        <!-- ===== MORE INFO TEXT ===== -->
                        <small v-if="showDesc">
                            {{job.desc}}
                        </small>

                    </li>
                </ul>

            </div>

            <!-- ===== DELETE ALL BUTTON ===== -->
            <button class="submit alert button" @click="removeAll(task)">پاک کردن همه</button>

        </div>
        <!-- ===== GRID CONTAINER END ===== -->
        
        <!-- ===== THE MODAL CONTENT START ===== -->
        <div class="modal" v-show="showModal" @click.stop="showModal = false">

            <!-- ===== Modal content ===== -->
            <div class="modal-content">

                <div>
                    <i class='bx bx-x-circle'></i>
                </div>

                <!-- ===== ALARM TEXT OF MODAL ===== -->
                <div class="modal-body">
                    <p>آیا شما اطمینان به پاک کردن این کار دارید؟</p>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد.</p>
                </div>

                <h></h>

                <!-- ===== MODAL BUTTON'S ===== -->
                <div class="modal-footer">
                    <button @click.prevent="Cancel">بستن</button>
                    <button @click="deleteEvent(removeItemIndex)">پاک کردن</button>
                </div>

            </div>
            <!-- ===== THE MODAL CONTENT END ===== -->

        </div>
        <!-- ===== The Modal END ===== -->

    </div>
    <!-- ===== APP END ===== -->

    <!-- =====  VUE  ===== -->
    <script src="vue.global.js"></script>

    <!-- =====  JS  ===== -->
    <script src="main.js"></script>

</body>
</html>