<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <!-- =====  BOX ICONS  ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!-- =====  FOUNDATION  ===== -->
    <link rel="stylesheet" href="foundation.min.css"  />

    <!-- =====  CSS  ===== -->
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <!-- ===== APP START ===== -->
    <div id="app">

        <!-- ===== GRID CONTAINER START ===== -->
        <div class="grid-container">

            <!-- ===== TITLE ===== -->
            <h1>{{message}}</h1>

            <div class="grid-x grid-padding-x">
                <div class="medium-12 cell">
                    <input class="input" type="text" name="title" id="title" placeholder="please type" v-model="taskTitle" @keyup.enter="addTask">
                    <textarea name="desc" id="desc" cols="30" rows="3" placeholder="Enter description" v-model="taskDesc"></textarea>
                </div>
                <div class="medium-12 cell">
                    <button class="submit success button" @click="addTask()" v-if="taskTitle.length > 0">+</button>
                    <button :class="['submit button toggleInfo',{primary:showDesc},{success:!showDesc}]" @click="showDesc = !showDesc">toggle info</button>
                </div>
            </div>

            <div class="grid-x grid-padding-x">

                <ul class="list-group ">
                    <li :class="['list-group-item',{done:job.completed}]" v-for="(job,i) in doList" :key="i" @click="job.completed = !job.completed">
                        <input id="c1" type="checkbox">
                        {{job.title}}
                        <i class='bx bx-trash' @click.stop="showModal = !showModal"></i>
                        <i class='bx bxs-edit' @click.stop></i>
                        <br>
                        <small v-if="showDesc">
                            {{job.desc}}
                        </small>
                    </li>
                    
                </ul>

            </div>

            <button class="submit alert button" @click="removeAll(task)">Remove All</button>

        </div>
        <!-- ===== GRID CONTAINER END ===== -->
        
        <!-- ===== THE MODAL CONTENT START ===== -->
        <div class="modal" v-show="showModal">

            <!-- ===== Modal content ===== -->
            <div class="modal-content">
                <div>
                    <i class='bx bx-x-circle'></i>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to erase this Task?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ipsum nisi, doloremque nobis nam obcaecati a! Tempora temporibus molestias aperiam!</p>
                </div>
                <h></h>
                <div class="modal-footer">
                    <button @click.prevent="Cancel">Close</button>
                    <button @click="deleteEvent(index)">Delete</button>
                </div>
            </div>
            <!-- ===== THE MODAL CONTENT END ===== -->

        </div>
        <!-- ===== The Modal END ===== -->

    </div>
    <!-- ===== APP END ===== -->

    <!-- =====  VUE  ===== -->
    <script src="vue.global.js"></script>

    <!-- =====  JS  ===== -->
    <script src="main.js"></script>
</body>
</html>